<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pokemon</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Basic HTML5 Document" />
    <meta name="keywords" content="HTML5, Responsive" />

    <link rel="stylesheet" href="/style.css" />
</head>

<body>
	<h1>Welcome to Pokemon</h1>
</body>

</html>